/* src/components/Warning.css */
.warning-banner {
  background-color: rgba(211, 47, 47, 0.85);
  color: --text-primary;
  padding: 12px 24px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 12px 0;
}
